nav{
    background-color: #f8f9fa;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 4px rgba(0,0,0,0,1);
}

nav a{
    color: #007bff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:hover {
  text-decoration: underline;  
}